<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656998315013-7ggiv6j66ihvfadbouhr9qkjgfrq3lhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656998315013-7ggiv6j66ihvfadbouhr9qkjgfrq3lhg</string>
	<key>API_KEY</key>
	<string>AIzaSyBm_2M6vg7d9a_R5ajApyUgsGqeBWh3psw</string>
	<key>GCM_SENDER_ID</key>
	<string>656998315013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carteirinhaSistematica</string>
	<key>PROJECT_ID</key>
	<string>carteirinha-sistematica</string>
	<key>STORAGE_BUCKET</key>
	<string>carteirinha-sistematica.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656998315013:ios:f1e9abb8758a39f3f3986c</string>
</dict>
</plist>